//colors
$primary-design-color: saddlebrown;
$secondary-design-color: lightgrey;

/* tiny reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: black;
}
/* body */
body{
  font-family: sans-serif;
  color: white;
  background: aquamarine;
  background: url("../../img/04134_sassolungo_800x480.jpg");
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
}
header{
  padding: 16px;
  text-align: center;
}
.board{
  width: 800px;
  box-shadow: 1px 1px 3px 5px $primary-design-color;
  box-sizing: content-box;
  height: 480px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
//.tile{
//  width: 160px;
//  height: 160px;
//}
//.empty-tile{
//  background: $secondary-design-color;
//}
footer{
  margin: auto;
  padding: 32px;
  text-align: center;
}
