/* tiny reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/**
 *  Components
 */

.global{
  font-family: sans-serif;
  color: white;
  min-height: 100vh;
}
.background{
  background-size: cover;
  background-repeat: repeat;
  min-height: 100vh;
  z-index: -10;
  filter: blur(45px);
}
header{
  padding-top: 32px;
  padding-bottom: 16px;
  text-align: center;
}
.board {
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1), 0 0 20px 4px rgba(0,0,0,0.5);
  background-color: rgba(black, 0.55);
  box-sizing: content-box;
  width: 800px;
  height: 480px;
  margin: auto;
  position: relative;
  z-index: 10;
}
.tile{
  //filter: none;
  filter: blur(0px);
  width: 160px;
  height: 160px;
  transition: all 1.0s;
  z-index: 20;
}
footer{
  margin: auto;
  padding: 32px;
  text-align: center;
}
