/* tiny reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
/* body */
body{
  font-family: sans-serif;
  background: url("../../img/04134_sassolungo_800x480.jpg");
  filter: darken(black, 50%);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  margin: auto;
  padding: 48px;
  text-align: center;
}
.container{
  width: 800px;
  background: url("../../img/04134_sassolungo_800x480.jpg");
  border: 2px solid blue;
  box-sizing: content-box;
  height: 480px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.tile{
  border: 1px solid blue;
  width: 160px;
  height: 160px;
}
.fifteen{
  background: lightgrey;
}
footer{
  margin: auto;
  padding: 64px;
  text-align: center;
  font-weight: bold;
}
