/* tiny reset */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* body */
body {
  font-family: sans-serif;
  background: url("../img/04134_sassolungo_800x480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin: auto;
  padding: 48px;
  text-align: center;
}

.container {
  width: 800px;
  background: url("../img/04134_sassolungo_800x480.jpg");
  border: 2px solid blue;
  box-sizing: content-box;
  height: 480px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid blue;
  width: 160px;
  height: 160px;
}

.fifteen {
  background: lightgrey;
}

footer {
  margin: auto;
  padding: 64px;
  text-align: center;
  font-weight: bold;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIvKiB0aW55IHJlc2V0ICovXG4gKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG59XG5odG1sLCBib2R5IHtcbiAgbWFyZ2luOiAwO1xuICBwYWRkaW5nOiAwO1xuICBib3JkZXI6IDA7XG4gIGZvbnQtc2l6ZTogMTAwJTtcbn1cbi8qIGJvZHkgKi9cbmJvZHl7XG4gIGZvbnQtZmFtaWx5OiBzYW5zLXNlcmlmO1xuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvMDQxMzRfc2Fzc29sdW5nb184MDB4NDgwLmpwZ1wiKTtcbiAgZmlsdGVyOiBkYXJrZW4oYmxhY2ssIDUwJSk7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG59XG5oZWFkZXJ7XG4gIG1hcmdpbjogYXV0bztcbiAgcGFkZGluZzogNDhweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuLmNvbnRhaW5lcntcbiAgd2lkdGg6IDgwMHB4O1xuICBiYWNrZ3JvdW5kOiB1cmwoXCIuLi9pbWcvMDQxMzRfc2Fzc29sdW5nb184MDB4NDgwLmpwZ1wiKTtcbiAgYm9yZGVyOiAycHggc29saWQgYmx1ZTtcbiAgYm94LXNpemluZzogY29udGVudC1ib3g7XG4gIGhlaWdodDogNDgwcHg7XG4gIG1hcmdpbjogYXV0bztcbiAgY29sb3I6IHdoaXRlO1xuICBkaXNwbGF5OiBmbGV4O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtc3RhcnQ7XG4gIGFsaWduLWl0ZW1zOiBmbGV4LXN0YXJ0O1xuICBmbGV4LXdyYXA6IHdyYXA7XG59XG4udGlsZXtcbiAgYm9yZGVyOiAxcHggc29saWQgYmx1ZTtcbiAgd2lkdGg6IDE2MHB4O1xuICBoZWlnaHQ6IDE2MHB4O1xufVxuLmZpZnRlZW57XG4gIGJhY2tncm91bmQ6IGxpZ2h0Z3JleTtcbn1cbmZvb3RlcntcbiAgbWFyZ2luOiBhdXRvO1xuICBwYWRkaW5nOiA2NHB4O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGdCQUFnQjtBQUNmLEFBQUEsQ0FBQyxDQUFDO0VBQ0QsVUFBVSxFQUFFLFVBQVU7Q0FDdkI7O0FBQ0QsQUFBQSxJQUFJLEVBQUUsQUFBQSxJQUFJLENBQUM7RUFDVCxNQUFNLEVBQUUsQ0FBQztFQUNULE9BQU8sRUFBRSxDQUFDO0VBQ1YsTUFBTSxFQUFFLENBQUM7RUFDVCxTQUFTLEVBQUUsSUFBSTtDQUNoQjs7QUFDRCxVQUFVO0FBQ1YsQUFBQSxJQUFJLENBQUE7RUFDRixXQUFXLEVBQUUsVUFBVTtFQUN2QixVQUFVLEVBQUUsMENBQTBDO0VBQ3RELE1BQU0sRUFBRSxLQUFrQjtFQUMxQixlQUFlLEVBQUUsS0FBSztFQUN0QixpQkFBaUIsRUFBRSxTQUFTO0NBQzdCOztBQUNELEFBQUEsTUFBTSxDQUFBO0VBQ0osTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsSUFBSTtFQUNiLFVBQVUsRUFBRSxNQUFNO0NBQ25COztBQUNELEFBQUEsVUFBVSxDQUFBO0VBQ1IsS0FBSyxFQUFFLEtBQUs7RUFDWixVQUFVLEVBQUUsMENBQTBDO0VBQ3RELE1BQU0sRUFBRSxjQUFjO0VBQ3RCLFVBQVUsRUFBRSxXQUFXO0VBQ3ZCLE1BQU0sRUFBRSxLQUFLO0VBQ2IsTUFBTSxFQUFFLElBQUk7RUFDWixLQUFLLEVBQUUsS0FBSztFQUNaLE9BQU8sRUFBRSxJQUFJO0VBQ2IsZUFBZSxFQUFFLFVBQVU7RUFDM0IsV0FBVyxFQUFFLFVBQVU7RUFDdkIsU0FBUyxFQUFFLElBQUk7Q0FDaEI7O0FBQ0QsQUFBQSxLQUFLLENBQUE7RUFDSCxNQUFNLEVBQUUsY0FBYztFQUN0QixLQUFLLEVBQUUsS0FBSztFQUNaLE1BQU0sRUFBRSxLQUFLO0NBQ2Q7O0FBQ0QsQUFBQSxRQUFRLENBQUE7RUFDTixVQUFVLEVBQUUsU0FBUztDQUN0Qjs7QUFDRCxBQUFBLE1BQU0sQ0FBQTtFQUNKLE1BQU0sRUFBRSxJQUFJO0VBQ1osT0FBTyxFQUFFLElBQUk7RUFDYixVQUFVLEVBQUUsTUFBTTtFQUNsQixXQUFXLEVBQUUsSUFBSTtDQUNsQiJ9 */
